.btn {
  background: rgb(255, 246, 236);
  border-radius: 100px;
  border-color: rgb(255, 189, 119);;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
  width: 250px;
  display: block;
  margin:0 auto;
}
.btn:hover {
  background: rgb(255, 132, 0);
  text-decoration: none;
}

input[type='radio'] {
  accent-color: rgb(255, 183, 106);;
}

h2 {
  font-size: 32px;
}

body {
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#result{
  font-size: 20px;
}

.formula{
  color: rgb(255, 132, 0);
}

#point{
	font-style: italic;
	color: rgb(255, 115, 0);
}

#nullLOC{
  color: red;
  margin-left: 1px;
  position: fixed;
}

#LOC{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
  border: none; 
  background-color: rgb(255, 179, 98);
  color: rgb(255, 164, 44); 
  height: 2px; 
}

/* скрываем чекбоксы и блоки с содержанием */
.hide {
  display: none; 
}
.hide + label ~ div{
  display: none;
}
/* оформляем текст label */
.hide + label {
  border-bottom: 1px dotted;
  padding: 0;
  cursor: pointer;
  display: inline-block; 
}
.hide + label:hover {
  font-weight: bold;
  text-decoration: none;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
  font-weight: bold;
  border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block;
  padding: 10px; 
}

.tab {
  overflow: hidden;
  font-weight: 400;
  font-size: 24px;
  color: #262626;

}

.tab button {
  background-color: inherit;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

.tab button.active {
  color: rgb(255, 132, 0);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.topright {
  float: right;
  cursor: pointer;
}